.navbar {
    margin-bottom: 0;
}

.header {
	background:url(/images/top_content_bg.jpg) no-repeat center;
	height:600px;
	width:100%;
	margin:0 auto;
	margin-bottom: 20px;
}

.mainContentWrapper{
	width:50%;
	max-width:500px;
	height:500px;
	min-width:300px;
	position:relative;
	margin:0 auto;
	top:50px;
}

@media(max-width:767px) {
	.mainContentWrapper {
		width: 90%;
	}
}

.mainContentBG{
	background-color:#FFFFFF;
	position:absolute;
	filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.6;
  /* Mozilla */
  opacity: 0.6;
  height:100%;
  width:100%;
  top:0;
  left:0;
}

.mainContent{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
  	left:0;
  	padding:10px;
}

.mainContentText{
	text-align:center;
	padding:20px 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#292929;
	font-weight:bold;
}

.mainContentSubText{
	text-align:center;
	padding:10px 0 20px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-style:italic;
	color:#292929;
}

.logo{
	padding:50px 0 10px 0;
}

.arrow {
    text-align:center;
    font-size: 33px;
    margin-top: 48px;
}